.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to left top, blueviolet, coral);
    margin-bottom: 20px;
}
#tittle {
    font-size: 80px;
    color: #fff;
    font-family: 'Inspiration', cursive;
    margin-right: 30px;
}
.headImage {
    width: 300px;
}

img {
    width: auto;
    height: 180px;
}