.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to left top, rgba(137, 43, 226, 0.452), rgba(255, 127, 80, 0.459));
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
}

#tittle {
    font-size: 100px;
    color: #fff;
    font-family: 'Inspiration', cursive;
    margin-right: 30px;
}

.headImage {
    width: 400px;
}

body {
    background-color: rgba(255, 127, 80, 0.089);
    font-family: 'Indie Flower', cursive;
}

.introduction p {
    margin: 20px;
    text-align:center;
    padding: 20px;
    line-height: 20px;
    font-size: 25px;
    line-height: 40px;
    cursor: pointer;
}
.introduction div {
    text-align: center;
}

img {
    width: auto;
    height: 250px;
    border-radius: 5px;
    border: 3px solid #fff;
    margin: 10px 0;
}

.subtittle {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.postTittle {
    padding: 30px 30px 0 30px;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid rgba(248, 40, 144, 0.315);
    text-align: left;
}

.post {
    background: linear-gradient(to left top,  rgba(86, 46, 197, 0.308), rgba(11, 185, 46, 0.253));
    padding: 10px;
    border: 3px solid rgba(248, 40, 144, 0.315);
    margin: 40px 40px;
    border-radius: 15px;   
    text-align: center;
}
.post .citiesList li{
    display: inline-block; 
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: rgba(80, 255, 109, 0.651);
    text-align: center;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    
}